.radios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    label {
        position: static;
        pointer-events: auto;
        display: inline-block;
        margin-bottom: 0px;
        vertical-align: top;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
        flex: 1 1 0;
        &:last-child {
            margin-right: 10px;
        }
    }
    input {
        &[type=radio] {
            opacity: 0;
            display: none;
            &+label {
                border: 1px solid $grey;
                .wrapper {
                    background: transparent;
                    content: '';
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    height: auto;
                    margin-right: 0px;
                    vertical-align: middle;
                    width: 100%;
                    cursor: pointer;
                    padding: 7px;
                    text-align: center;
                    color: $grey-dark;
                    position: static;
                    height: 100%;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    p {
                        margin-bottom: 0px;
                        white-space: pre-wrap;
                        word-wrap: break-word;
                        -webkit-hyphens: auto;
                        -ms-hyphens: auto;
                        hyphens: auto;
                        @include transition(all .15s ease-in-out);
                        @include font-size(14px);
                    }
                }
                &:hover {
                    .wrapper {
                        border-color: $grey;
                        color: $color1;
                    }
                }
            }
            &:checked {
                &+label {
                    .wrapper {
                        color: $white;
                        background: $color1;
                        p {
                            @include transition(all .15s ease-in-out);
                        }
                    }
                }
            }
        }
    }
    &.full {
        label {
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}